h1{
    text-align: center;
    color: red;
}
/* unversal selector */
*{
    margin: 0px;
    padding: 0px;
}
/* Tag/Element selector */
h4{
    /* color: red; text */
    /* color: #f00; short hex */
    /* color: #ff0000; hex */
    color: rgb(225,0,0);
    word-spacing: 20px;
    line-height: 50px;
    text-indent: 40px;
}
/* attribute selector */
    a[title="google"]{
    text-decoration: none;
    color: green;
}
/* id selector */
p#idselector{
        color: green;
        letter-spacing: 10px;
        text-align: justify;
        text-indent: 50px;

}
/* class selector */
.classselector{
    color: brown;
    line-height: 30px;
    word-spacing: 40px;
    text-indent: 50px;
}
/* Descendent Selector */
p a{
    color: red;
}
/* child selector */
p.child>a{
    color: green;
}

/* Pseudo Selector */
a:link{
    color: red;
}
a:hover{
    color: green;
}
a:active{
    color: yellow;
}
a:visited{
    color: pink;
}
div:target{
    color: red;
    border: 1px solid black;
}
/* Student registor */
form{
    width: 80%;
    margin: auto;
}
input[type="text"],input[type="number"],input[type="email"]{
    width: 100%;
    height: 40px;
    outline: none;
}
input[type="text"]:focus,input[type="number"]:focus,input[type="email"]:focus{
    border: 3px solid #555;
}
#dob{
    width: 90%;
}
div#dob select{
    width: 30%;
    height: 40px;
    outline: none;
}
#address{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
input[type="radio"]:checked+label{
    color: blue;
    font-weight: bold;
}
input[type="checkbox"]:enabled+label{
    color: red;
    font-style: italic;
}
input[type="checkbox"]:enabled+label{
    color: yellow;
    font-style: normal;
}
input[type="checkbox"]:disabled+label{
    color: #fff;
}
#fieldset p{
    text-indent: 50px;
    text-align: justify;
}
ul li{
     margin-left: 50px;
     line-height: 40px;
}
li:first-child{
    background-color: red;
    width: 80%;
}
li:last-child{
    background-color: green;
    width: 80%;
}
li:nth-child(4){
    background-color: yellow;
    width: 80%;
}
p:empty{
    background-color: #60708B;
    height: 20px;
}
.thankyou{
    text-align: center;
}

/* Border */
.borderone{
    border: 1px dotted #f00;
}
.bordertwo{
    border-left: 4px solid yellow;
}
.borderstyle{
    border-style: double;
    /* All */
}
.mix{
    /* border-style: solid dashed; */
    /* T/B & L/R */
    /* border-style: solid dotted double; */
    /* T & L/R & B */
    border-style: solid dotted double dashed;
    /* T R B L */
}
.bwidth{
    border-width: 2px 6px 10px 15px;
    border-style: solid;
}

/* Margin */
.marginone{
    margin: 15px;
    border: 1px solid black;
}

.margintwo{
    margin: 10px 20px;
    border: 1px solid red;
}

.marginthree{
    margin: 5px 15px 30px;
    border: 1px solid yellow;
}

.marginfour{
    /* margin: 5px 10px 5px 40px; */
    margin-left: 40px;
    border: 1px solid black;
}

/* Padding */
.padding{
            border: 1px solid red;
            padding-top: 50px;
}

/* Layout */
.google{
    border: 1px solid red;
    width: 400px;
    display: inline-block;
}

.block{
    border: 1px solid black;
    width: 400px;
    display: inline-block;
}